/* Estilos básicos para la sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f8f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

/* Ocultar sidebar en pantallas pequeñas */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -100%; /* Oculta la barra fuera del viewport */
        width: 70%;
        z-index: 1000;
    }

    /* Clase para mostrar la barra lateral */
    .sidebar.active {
        left: 0;
    }
}

/* Estilos para el resto del contenido */
.user-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    
}

.user-icon {

    width: 100px;
    height: 100px;
    
    
}

.user-icon svg{
    width: 100%;
    height: 100%;
    
    
}
.datos-usuario{
    display: flex;
    flex-direction: column;
    margin-left:10px;
}
.user-role {
    font-size: 18px;
    color: #333;
    margin-bottom: 0px;
    margin-left: -5px;
    
    
}

.options {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 15px;
    padding: 20px;
}

.option-btn {
    width: 100%;
    padding: 10px;
    background-color: #4c51bf;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.btn-activo{
    background-color: #28b432!important;
}



.option-btn:hover{
    background-color: #2028c4;
    transition: background-color 0.2s ease-in-out;
}

.Log-Out{
    
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    background-color: #f66565;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;   
    

}

.Log-Out:hover{
    background-color: #f92828;
    transition: background-color 0.2s ease-in-out;
}

.pagination-dots {
    
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
}




/* Botón Hamburguesa */
.menu-btn {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 700;
    background-color: #4c51bf;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

/* Mostrar botón en pantallas pequeñas */
@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }
    
}





.logoNotificacion svg{
    width: 25px;
    height: 25px;   
}




.logoNotificacion.notisExist {
    background-color: #fa5a5a;
    animation: parpadeo 1s infinite;
}
.logoNotificacion.notisExist svg{
    animation: bailecito 0.5s infinite;
}

/* Animación de parpadeo */
@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes bailecito {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

@media (max-width:768px){
    .logoNotificacion{
        top: 15px;
        left: 45px;

        
    }
}


.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1500;
}

/* Div flotante */
.floating-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    z-index: 1501; 
    text-align: center;
    align-items: center;
    justify-content: center !important;
    align-content: center;
    animation: fadeIn 0.3s ease-in-out;
}

.boxNotis{
    max-height: 500px;
    overflow-y: auto;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.encabezadoNots {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.cerrarIconoNots{
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
    border-radius: 50%;
    padding: 5px;
}
.cerrarIconoNots svg:hover{
    color: white;

}

.cerrarIconoNots:hover {
    background-color: #f66565;

}